<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="stylesheet" href="../static/css/oops.css" />
    <title>Oops</title>
</head>

<body>
    <section class="pic">
        <img src="../static/images/peek.jpg" alt="" width="600px" height="" />
    </section>
    <!-- <h1>Hello, fren!</h1> -->

    <section class="actions">
        <h3>It looks like that address is already listed.</h3>

        <button><a href="/">Enter a new address</a></button>
        <br>
        <button>
        <a href="/submit">Continue to the game </a>
      </button>
    </section>
    <br />
    <footer>
        <h4>Powered by Helicarrier © 2021</h4>
    </footer>
</body>

</html>