<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="stylesheet" href="../static/css/pseudostyles.css" />
    <link rel="stylesheet" href="../static/css/submitted.css" />
    <title>tic-tac-toe</title>
</head>

<body>
    <section class="patterned-top">
        <!-- add background here -->
        <h1><a href="">tic-tac-toe</a></h1>
    </section>


    <section class="game-bottom">
        <h1>select game mode</h1>
        <p><button class="mode">Play with a friend</button></p>
        <p>
            <button class="mode">
          <a href="https://brave-shockley-bb2d24.netlify.app/">
            Challenge our unbeatable AI
          </a>
        </button>
        </p>
    </section>


    <footer>
        <h3>Powered by Helicarrier © 2021</h3>
    </footer>
</body>

</html>